html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Cherry Swash';font-size: 22px;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

input, input:focus {
	outline: none;
}

h3 {
	font-size: 2.75rem;
	line-height: 1.5;
}

.flex {
	display: flex;
	align-items: center;
}

.space_around {
    margin: 100px;
}

/*--- Buttons ---*/

.button {
	box-shadow: 5px 5px #777777;
}

.button:active {
	box-shadow: 3px 3px #666666;
	transform: translateY(2px);
	transform: translateX(2px);
}

/*--- Header ---*/

.bar1 {
	justify-content: space-between;
	background-color: white;
}

.login {
	color:  #f02323;
	padding-right: 50px;
	font-size: 35px;
}

.login:hover {
	text-shadow: -1px -1px #ff0000;
}

.bar2 {
	height: 50px;
	background-color: #f02323;
	color: white;
	justify-content: space-around;
}

.carousel-item {
	height: 500px;
}


/*--- Sticky Footer ---*/

.wrapper {
	min-height: 100%;

	/* Equal to height of footer */
	/* But also accounting for potential margin-bottom of last child */
	margin-bottom: -40px;
}

footer {
	background-color: #f02323;
	height: 40px;
	color: white;
	width: 100%;
	justify-content: center;
}

.push {
	height: 40px;
}

